.dashboard-root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.dashboard-content {
  width: 100%;
  max-width: 100%;
  padding: 0 24px;
  box-sizing: border-box;
}

.table-wrapper {
  height: 400px;
  width: 100%;
}

/* utilities */
.flex-grow {
  flex-grow: 1;
}

.ml-8 {
  margin-left: 8px;
}
.ml-16 {
  margin-left: 16px;
}

.mt-8 {
  margin-top: 8px;
}
.mt-16 {
  margin-top: 16px;
}
.mt-24 {
  margin-top: 24px;
}
.mb-24 {
  margin-bottom: 24px;
}

.overview-card {
  display: flex;
  align-items: center;
}
